
{% extends 'common/base.html' %}

{% block style %}
    <style>
    </style>
{% endblock %}

{% block title %}行业板块{% endblock %}

{% block content %}

    <div class="container-fluid">

                {# 指数 #}
        <div class="row bg-dark" style="padding-top: 4.4rem;">
{#            <div class="col-2 mx-auto">#}
{#                <a class="text-white center" href="{% url 'stock_analyze:page-index-detail' '000001' '1' %}">上证指数</a>#}
{#                <p id="p-szzs" class="center">--</p>#}
{#                <p id="pct-szzs" class="center">--</p>#}
{#            </div>#}
{#            <div class="col-2 mx-auto">#}
{#                <a class="text-white center" href="{% url 'stock_analyze:page-index-detail' '399001' '2' %}">深圳成指</a>#}
{#                <p id="p-szcz" class="center">--</p>#}
{#                <p id="pct-szcz" class="center">--</p>#}
{#            </div>#}
            <div class="col-2 mx-auto">
                <a class="text-white center" href="#">上证指数</a>
                <p id="p-szzs" class="center">--</p>
                <p id="pct-szzs" class="center">--</p>
            </div>
            <div class="col-2 mx-auto">
                <a class="text-white center" href="#">深圳成指</a>
                <p id="p-szcz" class="center">--</p>
                <p id="pct-szcz" class="center">--</p>
            </div>
        </div>

        <div id="div-industry" class="row"  style="padding-top: 1rem;">
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        "use strict";

        let get_pc = function(stock_code, market_code, parse){
            $.ajax({
                url: "{% url 'stock_analyze:api-stock-cur-price' %}"
                    +"?stock_code="+stock_code+"&market_code="+market_code,
                type: "GET",
                dataType: "json",
            }).then(function (p) {
                if(parse){
                    parse(p);
                }
            }).fail(function (xhr, status, errorThrown) {
            }).always(function (xhr, status) {
            });
        };

        let get_index = function(stock_code, market_code, pc_sele, pct_sele){
            get_pc(stock_code, market_code, function(p){
                let text_cls = 'text-white';
                if(p.pc_change_pct>0){
                    text_cls = 'text-danger';
                }else if(p.pc_change_pct < 0){
                    text_cls = 'text-success';
                }
                $(pc_sele)
                    .text(p.pc)
                    .addClass(text_cls);
                $(pct_sele)
                    .text(p.pc_change_pct>0? '+'+p.pc_change_pct : p.pc_change_pct)
                    .addClass(text_cls);
            });
        };

        let get_indexs = function(){
            get_index('000001', '1', '#p-szzs', '#pct-szzs');
            get_index('399001','2','#p-szcz', '#pct-szcz');
        };

        let get_industries = function () {
            $.ajax({
                url: "{% url 'stock_analyze:api-industry-list' %}",
                type: "GET",
                dataType: "json",
            }).then(function (industries) {
                $.ajax({
                    url: "{% url 'stock_analyze:api-all-stocks-updown' %}",
                    type: "GET",
                    dataType: "json",
                }).done(function (updown) {
                    parse_result(industries, updown);
                })
            }).fail(function (xhr, status, errorThrown) {
            }).always(function (xhr, status) {
            });
        };

        let add_table = function (industries, updown) {
            let table = $("<table></table>")
                .addClass('table table-striped table-dark');
            let tr_head = $("<tr></tr>")
                .append("<th scope='col'>行业</th>")
                .append("<th scope='col'>总市值</th>")
                .append("<th scope='col'>上涨家数</th>")
                .append("<th scope='col'>下跌家数</th>")
                .append("<th scope='col'>换手率</th>");
            let thead = $("<thead></thead>").append(tr_head);
            let tbody = $("<tbody></tbody>");
            $.each(industries, function (i, v) {
                try{
                    let u = updown[v.name];
                    let a = $("<a></a>")
                        .addClass("text-link")
                        .attr("href", v.detail_page_url)
                        .text(v.name);
                    let tr = $("<tr></tr>")
                        .append($("<td></td>").append(a))
                        .append($("<td></td>").text(trans_value(u.total_value)))
                        .append($("<td></td>").addClass('text-danger').text(u.up))
                        .append($("<td></td>").addClass('text-success').text(u.down))
                        .append($("<td></td>").text(parseFloat(u.exchange).toFixed(2) + '%'));
                    tbody.append(tr);
                }catch(e){
                    console.log(e);
                }
            });
            table.append(thead);
            table.append(tbody);

            let div_col = $('<div></div>').addClass('col-lg-6');
            div_col.append(table);

            $('#div-industry').append(div_col);
        };

        let parse_result = function (detail, updown) {
            let industries = detail.results;

            if (industries && industries.length > 30) {
                let indus1 =  industries.slice(0, parseInt(industries.length / 2)) ;
                let indus2 =  industries.slice(parseInt(industries.length / 2)) ;
                add_table(indus1, updown);
                add_table(indus2, updown);
            } else {
                add_table(industries || [], updown);
            }
        };


        let trans_value = function (value) {
            let t = parseFloat(value);
            if (value > 1000000000000) {
                t = (value / 1000000000000).toFixed(1) + '万亿';
            } else if (value > 100000000) {
                t = (value / 100000000).toFixed(1) + '亿';
            } else if (value > 10000) {
                t = (value / 10000).toFixed(1) + '万';
            } else {
                t = value;
            }
            return t;
        };

        $(function () {
            active_nav_data();
            get_industries();
            get_indexs();
        });
    </script>
{% endblock %}