{% extends 'stock_analyze/base.html' %}

{% block style %}
    <style>
        main {
            padding-top: 4.1rem;
        }
    </style>
{% endblock %}

{% block title %}行业板块{% endblock %}

{% block content %}

    <div class="jumbotron bg-dark" style="margin-bottom: 0px; padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h1 class="display-5 text-white" id="skname">--</h1>
                </div>
                <div class="col-md-4">
                    {#  今天上涨和下跌家数  #}
                    <div class="row">
                        <div id="div-up-down-count" class="col-8">
                            <p class="text-white">总市值：<span id="span-total-value"></span></p>
                            <p class="text-white">上涨家数：<span id="span-up-count" class="text-danger"></span></p>
                            <p class="text-white">下跌家数：<span id="span-down-count" class="text-success"></span></p>
                            <p class="text-white">换手率：<span id="span-exchange"></span></p>
                        </div>
                        <div class="col-8">
                            <a href="{% url 'stock_analyze:industry_stocks_corr_analyzation' id %}">
                                该行业个股涨跌相关性 >>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="margin-top: 0.2rem; ">
        {#    该行业板块的股票列表 #}
        <div class="row" id="div-stock-list">
        </div>
    </div>



{% endblock %}

{% block script %}
    <script>
        "use strict";

        let get_industry_detail = function () {
            $.ajax({
                url: "{% url 'stock_analyze:api-industry-detail' id %}",
                type: "GET",
                dataType: "json",

            }).done(function (industry) {
                $('title').html(industry.name);
                $('#skname').text(industry.name);
                parse_stock_data(industry.stocks);

            }).fail(function (xhr, status, errorThrown) {
            }).always(function (xhr, status) {
            });
        };

        let parse_stock_data = function(stocks){
            let n = 10;
            for(let i=0; stocks.length > i*n; i++){
                if( stocks.length >= (i*n+n)){
                    add_stock_list(stocks.slice(i*n, i*n+n));
                }else{
                    add_stock_list(stocks.slice(i*n))
                }
            }
        };

        let add_stock_list = function(stocks){
                let ul = $("<ul></ul>").addClass("list-group");
                $.each(stocks, function (i, v) {
                    let a = $('<a></a>')
                        .addClass('text-white')
                        .attr('href', v.detail_page_url)
                        .text(v.name);
                    let li = $('<li></li>')
                        .addClass("list-group-item bg-dark")
                        .append(a);
                    ul.append(li);
                });
                let div = $('<div></div>')
                    .addClass('col-md-4')
                    .append(ul);
                $('#div-stock-list').append(div);
        };

        let get_stocks_updown_count = function () {
            $.ajax({
                url: "{% url 'stock_analyze:api-stocks-updown' id %}",
                type: "GET",
                dataType: "json",
            }).done(function (industry) {
                $("#span-total-value").text(trans_value(industry.total_value))
                $("#span-up-count").text(industry.up);
                $("#span-down-count").text(industry.down);
                $('#span-exchange').text(parseFloat(industry.exchange).toFixed(2) + '%');
            }).fail(function (xhr, status, errorThrown) {
            }).always(function (xhr, status) {
            });
        };

        let trans_value = function (value) {
            let t = parseFloat(value);
            if (value > 1000000000000) {
                t = (value / 1000000000000).toFixed(1) + '万亿';
            } else if (value > 100000000) {
                t = (value / 100000000).toFixed(1) + '亿';
            } else if (value > 10000) {
                t = (value / 10000).toFixed(1) + '万';
            } else {
                t = value;
            }
            return t;
        };

        $(function () {
            active_nav_data();
            get_industry_detail();
            get_stocks_updown_count();
        });
    </script>

{% endblock %}