{% extends 'common/base.html' %}

{% block title %}修改密码{% endblock %}

{% block style %}
    <style>

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        #div-from {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;

        }

        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    </style>
{% endblock %}

{% block body %}

    <body>

    <div id="div-from" class="text-center">
        <form id="form-register" class="form-signin" action="{% url 'account:api_reset_password' %}" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">修改密码</h1>

            <div class="row">
                <label for="input-username">帐号</label>
                <input id="input-username" type="text" name="username" class="form-control" placeholder="用户名"
                       required=""
                       autofocus="">
            </div>
            <br/>


            <div class="row">
                <label for="input-password">原密码</label>
                <input id="input-old-password" type="password" name="old_password" class="form-control" placeholder="原密码"
                       required="">

            </div>
            <br/>

            <div class="row">
                <label for="input-password">新密码</label>
                <input id="input-new-password" type="password" name="new_password" class="form-control" placeholder="新密码"
                       required="">

            </div>
            <br/>

            <div class="row">
                <label for="input-confirm-password">确认密码</label>
                <input id="input-confirm-password" type="password" name="confirm_password" class="form-control"
                       placeholder="再次输入密码以确认" required="">
            </div>
            <br/>

            <input type="hidden" name="next" value="{{ next }}">

            <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        </form>

    </div>
    <div id="div-alert"></div>
    </body>

{% endblock %}


{% block script %}
    <script>
        'use strict';

        $(function () {
            $('#form-register').submit(function (e) {
                e.preventDefault();
                let form = $(this);
                let url = form.attr('action');
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: form.serialize(),
                }).done(function (res) {
                    if (res.register === 'success') {
                        $.dialog('注册成功，正在自动跳转...');
                        setTimeout(function () {
                            window.location.href = res.redirect_url;
                        }, 1200);
                    } else if (res.register === 'fail') {
                        $.dialog(res.error);
                    }

                }).fail(function (xhr, status, errorThrown) {
                }).always(function (xhr, status) {
                });
            });
        });
    </script>
{% endblock %}